
body {
    background: #222;;
    color: #fff;
  }

  .container {
      width: 80%;
      margin: 0 auto;
  }

  header {
      background: #55d6aa;
  }

  header::after{
    content: '';
    display: table;
    clear: both;
  }

  .logo{
      padding: 10px 0;
  }

  nav {
      float: right;
  }

  nav ul {
   margin: 0;   
   padding: 0;
   list-style: none;
  }

  nav li {
      display: inline-block;
      margin-left: 70px;
      padding-top: 23px;
  }

  nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;  
  }
