*{
    --text: #e9e2f1;
    --background: #070608;
    --primary: #bca3d4;
    --secondary: #407336;
    --accent: #5eb4ac;
    margin: 0%;
}

body{
    color: var(--text);
    background-color: var(--background);
}