.circle {
	position: absolute;
    border: solid 1px #ccc;
	width: 1px; 
	height: 1px; 
    border-radius: 50%;  
    background: transparent;
    z-index: 10;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 120px 20px rgb(255, 255, 255);
    border-color: transparent;
    pointer-events: none;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .circle{
        visibility: hidden;
        border: transparent;
        box-shadow: transparent;
    }
}