/* Generic CSS 
Created by: 	alizardguy
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: 'SignikaNegative';
}

.noSelect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

body{
    background-color: #08383a;
}

main{
    color: white;
}

html, body { height: 100%;}

@font-face {
    font-family: SignikaNegative;
    src: url(../assets/fonts/SignikaNegative-VariableFont_wght.ttf);
  }

/* generic button */
.button-3 {
  appearance: none;
  background-color: #38736d;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #458680;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #4b9790;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
