*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.noSelect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

body{
    background-color: #08383a;
}