/* header bar CSS 
Created by: 	alizardguy
Initial date:   12-01-2022
*/

.header{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #264d49;
    display: block;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 800;
}

.navbar{
    float: right;
    height: 100%;
}

.navbar button{
    background-color: #38736d;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding: 15px 32px;
    font-size: 16px;
}