/* header bar and footer CSS 
Created by: 	alizardguy
Initial date:   12-01-2022
*/

/* header */
.header{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #264d49;
    display: block;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 800;
}

.navbar{
    float: right;
    height: 100%;
}

.navbar button{
    background-color: #38736d;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 556px){
    .navbar button{
        padding: 15px 16px;
    }
}

.navbar button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbar button:active{
    background-color: #264d49;
}

/* footer */
footer{
    background-color: #264d49;
    color: white;
}

footer p{
    margin: 0 1%;
}

body > footer {
    position: sticky;
    top: 100vh;
  }