main{
    margin: 1% 5%;
}

/* intro stuff */
.intro{
    font-size: 5vw;
}

@media screen and (max-width: 413px) {
    .intro{
        text-align: center;
    }
}

.my_name{
    font-weight: bold;
    color: greenyellow;
}


/* about me */
.about{
    padding-top: 5%;
    font-size: 2vw;
    padding-right: 30%;
}
