/* unique CSS for home page 
by: alizardguy */

body{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* remove list style */
ul {
    list-style-type: none;
    margin: 2%;
  }

li{
    margin-top: 20px;
    padding: 1%;
    display: flex;
    transition: ease-in-out 0.3s;
    box-shadow: inset 0 0 0 0;
}

li a{
    color: white;
    transition: ease-in-out 0.3s;
}

li:hover{
    box-shadow: inset 0 0 0 1000px white;
    color: black;
}

li:hover a{
    color: black;
}

/* selection layout custom */
main{
    background-color: black;
    height: 100%;
    width: 100%;
}

.selectArea{
    padding: 2% 10%;
}

.selectItem{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.5in;
}

/* Welcome text */
.welcomeText{
    padding-left: 4%;
    padding-top: 2%;
}