/* unique CSS for home page 
by: alizardguy */

body{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* remove list style */
ul {
    list-style-type: none;
    margin: 2%;
  }

li{
    margin-top: 20px;
    padding: 1%;
    display: flex;
    transition: ease-in-out 0.3s;
    box-shadow: inset 0 0 0 0;
}

@media only screen and (max-width: 600px) {
    li{
        box-shadow: inset 0 0 0 1000px #38736d;
    }
}

li a{
    color: white;
    transition: ease-in-out 0.3s;
}

li:hover{
    box-shadow: inset 0 0 0 1000px white;
    color: black;
}

li:hover a{
    color: black;
}

/* selection layout custom */
main{
    background-color: black;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    main{
        background-color: #08383a;
        transition: ease-in-out 0.3s;
    }
}

.selectArea{
    padding: 0% 10%;
}

.selectItem{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.5in;
    border:none;
    background-color: transparent;
}

/* Welcome text */
.welcomeText{
    margin-top: 2%;
    font-size: 1.5vw;
    visibility: visible;
    text-align: center;
    overflow: hidden;
    border-right: .15em solid green;
    animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
    white-space: nowrap;
    letter-spacing: .15em;
    margin: 0 auto;
    width: 13vw;
    
}

.welcomeTextArea{
    padding-top: 2%;
}
/* Welcome text media query */
@media only screen and (max-width: 600px) {
    .welcomeText{
        visibility: hidden;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 13vw }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green; }
  }