/* unique CSS for home page 
by: alizardguy */

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.green{
    background-color: green;
}

/* simple curve */
