*{
    --text: #e9e2f1;
    --background: #08383a;
    --primary: #bca3d4;
    --secondary: #407336;
    --accent: #5eb4ac;
    margin: 0%;
}

body{
    color: var(--text);
    background-color: var(--background);
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}