.intro-text
{
    font-size: 6rem;
    font-weight: 800;
    padding-bottom: 10px;
}

.intro-block
{
        padding-top: 30px;
        text-align: center;
}

.infosubline 
{
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration: underline;
}

.infoblock
{
    padding-top: 35px;
    text-align: center;
    align-self: center;
}

main
{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    word-wrap: break-word;
}

a 
{
    color: whitesmoke;
    text-decoration-color: green;
}