<header class="site-header">
    <nav class="site-header-frame">
        <a href="/index.html" class="logo">alizardguy</a>

        <input type="checkbox" id="menu-toggle" class="menu-toggle" aria-controls="main-navigation" aria-expanded="false">

        <label for="menu-toggle">
            <a class="menu-toggle-button">🦎</a>
        </label>

        <ul id="main-navigation" class="nav-menu">
            <li>
                <a href="/index.html" class="nav-link">Home</a>
            </li>

            <li>
                <a href="/blog" class="nav-link">Blog</a>
            </li>

            <li>
                <a href="/socials" class="nav-link">Socials</a>
            </li>
        </ul>
    </nav>
</header>